<h3 nz-typography class="regionTitle" style="font-weight: bold;">广州军区</h3>

<div class="or-header">

  <div class="organization-search">
    <input nz-input placeholder="请输入机构名称" [(ngModel)]="value" class="search-ipt" />
    <button nz-button nzType="primary" class="or-search-btn">查询</button>
    <button nz-button nzType="default">重置</button>
  </div>

  <!--添加按钮-->
  <button nz-button nzType="primary" (click)="add()" *ngIf='power.add'>新增</button>

</div>

<!-- reset password modal -->
<nz-modal [(nzVisible)]="isResetVisible" nzTitle="重置密码" [nzFooter]="null" (nzOnCancel)="handleResetMoadlHide()">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="resetUserPassword()">
    <nz-form-item>
      <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="adminPassword" nzRequired>超级管理员密码</nz-form-label>
      <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请输入超级管理员密码">
        <input nz-input formControlName="adminPassword" placeholder="请输入超级管理员密码" id="adminPassword" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="password" nzRequired>当前管理员新密码</nz-form-label>
      <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请输入8-16位数字、字母组合的密码">
        <input nz-input formControlName="password" placeholder="请输入新密码" id="password" />
      </nz-form-control>
    </nz-form-item>
    <div class="modalBtns">
      <button nz-button nzType="primary" class="submit">提交</button>
      <button nz-button (click)="handleResetMoadlHide()" class="cancel">取消</button>
    </div>
  </form>
</nz-modal>


<!-- 表格 -->
<nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="personList"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <!-- <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th> -->
      <th>账号</th>
      <th>昵称</th>
      <th>手机</th>
      <th>姓名</th>
      <th>所属机构</th>
      <th>角色</th>
      <th>账号状态</th>
      <th nzAlign="center">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <!-- <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
        (nzCheckedChange)="onItemChecked(data.id, $event)"></td> -->
      <td>{{ data.tusers?data.tusers.userName:'' }}</td>
      <td>{{ data.nickname }}</td>
      <td>{{ data.mobile }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.department? data.department.name:"" }}</td>
      <td>{{ data.roleInfo?data.roleInfo.name:"" }}</td>
      <td>
        <nz-badge [nzStatus]="data.tusers&&data.tusers.enabled ? 'success' : 'error'"></nz-badge>
        {{ data.tusers&&data.tusers.enabled ? '正常' : '禁用' }}
      </td>
      <td nzAlign="center">

        <a (click)="prohibitUser(data)" *ngIf='!(data.tusers&&data.tusers.enabled)'>启用 </a>
        <a (click)="prohibitUser(data)" style="color: red" *ngIf="data.tusers&&data.tusers.enabled">禁用 </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="handleResetMoadlShow(data)">重置</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="edit(data)" *ngIf='power.edit'>编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="handleDelete(data)" *ngIf='power.del'>删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>
