<!-- <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null"> -->
<div class="sidebar-logo">
  <a>
    <img src="../../../assets/image/logo.png" alt="logo">
    <h1>机构权限管理</h1>
  </a>
</div>

<!-- </nz-sider> -->
<ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
  <ng-template #menuTpl let-menus>
    <ng-container *ngFor="let menu of menus">
      <li *ngIf="!menu.children" nz-menu-item nzMatchRouter [nzPaddingLeft]="menu.level * 24"
        [nzDisabled]="menu.disabled" [nzSelected]="menu.selected" (click)="handleMenuChange(menu)">
        <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
        <a [routerLink]="menu.link"><span>{{ menu.title }}</span> </a>
      </li>
      <li *ngIf="menu.children" nz-submenu [nzPaddingLeft]="menu.level * 24" [nzOpen]="menu.open" [nzTitle]="menu.title"
        (nzOpenChange)='handleOpenChange(menu)' [nzIcon]="menu.icon" [nzDisabled]="menu.disabled" nzMatchRouter>
        <ul>
          <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>
