<app-page-header [title]="type === 'add'? '新增':'编辑'" [menu]="[{title:'账号管理',active:false},{title:'人员管理',active:true}]">
</app-page-header>

<div class="formInfo">

  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <div class="addform">
      <div>
        <!--机构输入框-->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="username" nzRequired>账号</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请输入账号!">
            <input nz-input formControlName="username" placeholder="请输入账号" id="username" />
          </nz-form-control>
        </nz-form-item>

        <!-- 手机号码 -->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="mobile" nzRequired>手机号码</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请输入手机号码!">
            <input nz-input formControlName="mobile" placeholder="请输入手机号码" id="mobile" />
          </nz-form-control>
        </nz-form-item>

        <!--账号状态-->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="enabled" nzRequired>账号状态</nz-form-label>
          <nz-form-control id="enabled" [nzSpan]="8" nzErrorTip="请选择账号状态!">
            <nz-select id="enabled" formControlName="enabled" nzPlaceHolder="请选择账号状态">
              <nz-option [nzValue]="true" nzLabel="正常"></nz-option>
              <nz-option [nzValue]="false" nzLabel="禁用"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!--所属机构类型选项框-->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="departmentId" nzRequired>所属机构</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="请选所属机构类型!">

            <nz-tree-select id="departmentId" formControlName="departmentId" style="width: 250px" [nzExpandedKeys]="expandKeys"
              [nzNodes]="organizeList" nzShowSearch nzPlaceHolder="请选所属机构类型!">
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>

        <!--密码-->
        <nz-form-item *ngIf="type === 'add'">
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="password" nzRequired>密码</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="密码错误">
            <input nz-input formControlName="password" placeholder="请输入密码" id="password" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div>
        <!--昵称-->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="nickname" nzRequired>昵称</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请输入昵称">
            <input nz-input formControlName="nickname" placeholder="请输入昵称" id="nickname" />
          </nz-form-control>
        </nz-form-item>

        <!-- 姓名 -->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="name" nzRequired>姓名</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24" nzErrorTip="请输入姓名!">
            <input nz-input formControlName="name" placeholder="请输入姓名" id="name" />
          </nz-form-control>
        </nz-form-item>

        <!--性别-->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="sex" nzRequired>性别</nz-form-label>
          <nz-form-control id="sex" [nzSpan]="8" nzErrorTip="请选择性别!">
            <nz-select id="sex" formControlName="sex" nzPlaceHolder="请选择性别">
              <nz-option [nzValue]="1" nzLabel="男"></nz-option>
              <nz-option [nzValue]="2" nzLabel="女"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!--角色-->
        <nz-form-item>
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="roleInfoId" nzRequired>角色</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="请选所属角色!">
            <nz-select id="roleInfoId" formControlName="roleInfoId" nzPlaceHolder="请选所属角色">
              <nz-option [nzValue]="item.id" [nzLabel]="item.name" *ngFor="let item of rolesList"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <!--确认密码-->
        <nz-form-item *ngIf="type === 'add'">
          <nz-form-label [nzSpan]="5" [nzSm]="8" [nzXs]="12" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="请确认密码">
            <input nz-input formControlName="checkPassword" placeholder="确认密码" id="checkPassword" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="btns">
      <button nz-button nzType="primary">提交</button>
      <button nz-button (click)="cancel($event)">取消</button>
    </div>

  </form>

</div>
