  <nz-header>
    <div class="app-header">

      <span class="header-trigger" (click)="isCollapsedTrigger()">
        <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
      </span>


      <div class="rightContent" #rightContent>
        <div class="wrapp">

          <a nz-dropdown [nzDropdownMenu]="menu">
            <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            <!-- <span>avatar-box</span> -->
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <a routerLink='/admin/system/menu'>
                <li nz-menu-item>菜单配置</li>
              </a>
            </ul>
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="logOut()">退出登陆</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>

    </div>
  </nz-header>
