nz-header {
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
  background:#001529;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  // background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.rightContent {
  display: inline-block;
  height: fit-content;
  position: fixed;
  top: 0;
  right: 30px;
  margin: auto 0;

  .wrapp {
    display: flex;
    align-items: center;
    >div {
      margin: 0 5px;
    }
  }
}
