  <nz-header>
    <div class="app-header">

      <span class="header-trigger" (click)="isCollapsedTrigger()">
        <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
      </span>

      <div class="rightContent" #rightContent>
        <div class="wrapp">
          <a nz-dropdown [nzDropdownMenu]="menu">
            <span style="margin-right: 6px;">{{username }}</span>
            <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item *ngIf='username==="admin"'><a routerLink='/admin/system/menu/list'>菜单配置</a></li>
              <li nz-menu-item (click)="logOut()">退出登陆</li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>

    </div>
  </nz-header>
