<app-page-header title="人员列表" [menu]='pageMenu'></app-page-header>

<div class="person-content">
  <!-- 左侧查询树 -->
  <div class="leftSide">
    <app-region-tree [organizeList]='organizeList'></app-region-tree>
  </div>

  <!-- 右侧显示内容 -->
  <div class="rightSide">
    <app-person-right-content [personList]='personList' [handleProhibitUserModalShow]='handleProhibitUserModalShow'
      [handleDeleteUserModalShow]='handleDeleteUserModalShow' [handleResetUserPassword]='handleResetUserPassword'
      [power]='power'>
    </app-person-right-content>
  </div>
</div>
