<!--页头部-->
<app-page-header></app-page-header>

<!--添加按钮-->
<div class="add-button">
  <a routerLink="/roles/add">  <button nz-button nzType="primary">添加</button></a>
</div>

<!--列表-->
<nz-table #rowSelectionTable  [nzData]="listOfData"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
      <th>角色名称</th>
      <th>所属机构</th>
      <th>访问权限</th>
      <th nzAlign="center">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td >{{ data.name }}</td>
      <td>{{ data.mechanism }}</td>
      <td>{{ data.authority }}</td>
      <td nzAlign="center">
        <a (click)="showDeleteConfirm()">删除</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>编辑</a>
      </td>
    </tr>
  </tbody>
</nz-table>
