<!--页头部-->
<app-page-header title="角色列表" [menu]="[{title:'角色管理',active:false},{title:'角色管理',active:true}]"></app-page-header>

<!--添加按钮-->
<div class="add-button">
  <a routerLink="/admin/roles/infoUpdata/add">  <button nz-button nzType="primary">添加</button></a>
</div>

<!--列表-->
<nz-table #rowSelectionTable  [nzData]="rolesList"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
      <th>角色名称</th>
      <th>所属机构</th>
      <th>访问权限</th>
      <th nzAlign="center">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td >{{ data.name }}</td>
      <td>{{ data.department?data.department.name:'' }}</td>
      <td>{{ data.sign }}</td>
      <td nzAlign="center">
        <a (click)="showDeleteConfirm(data)">删除</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="handleEditRoles(data)">编辑</a>
      </td>
    </tr>
  </tbody>
</nz-table>
