<!--页头部-->
<app-page-header title="角色列表" [menu]='pageMenu'></app-page-header>

<!--添加按钮-->
<div class="add-button" *ngIf="power.add">
  <a routerLink="/admin/roles/infoUpdata/add"> <button nz-button nzType="primary">添加</button></a>
</div>

<!--列表-->
<nz-table #rowSelectionTable [nzData]="rolesList" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
    <tr>
      <th>角色名称</th>
      <th>所属机构</th>
      <th>访问权限</th>
      <th nzAlign="center">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.department?data.department.name:'' }}</td>
      <td style='width:400px'>{{ data.power}}</td>
      <td nzAlign="center">
        <a (click)="showDeleteConfirm(data)" *ngIf="power.del">删除</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="handleEditRoles(data)" *ngIf="power.edit">编辑</a>
      </td>
    </tr>
  </tbody>
</nz-table>
