<!--页头部-->
<app-page-header title="机构属性" [menu]='pageMenu'></app-page-header>

<!--添加按钮-->
<div class="add-button" *ngIf='power.add'>
  <a> <button nz-button nzType="primary" (click)="handleAddAttrModalShow()">新增</button></a>
</div>

<!--列表-->
<!-- <nz-table #basicTable [nzData]="dictionaryList">
  <thead>
    <tr>
      <th>字典名称</th>
      <th>描述</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.description }}</td>
      <td>
        <a (click)='handleEditAttrModalShow()' *ngIf='power.edit'>编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)='showMenuDeleteConfirm()' *ngIf='power.del'>删除</a>
      </td>
    </tr>
  </tbody>
</nz-table> -->

<nz-table #expandTable [nzShowPagination]="false" [nzData]="dictionaryList" nzTableLayout="fixed">
  <thead>
    <tr>
      <th>字典名称</th>
      <th>描述</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let data of expandTable.data">
      <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent" class='triangle-table-container'>
          <td [nzIndentSize]="item.level! * 20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)">
            {{ item.name }}
          </td>
          <td>{{ item.description }}</td>
          <td>
            <a (click)='handleEditAttrModalShow(item)' *ngIf='power.edit'>编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)='showMenuDeleteConfirm(item)' *ngIf='power.del'>删除</a>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</nz-table>

<!--添加弹框-->
<app-attr-form-modal title='添加' [isVisible]="addAttrModalOpen" [handleOk]="handleAddDictionary"
  [handleCancel]="handleAddAttrCancel"></app-attr-form-modal>

<!--编辑弹框-->
<app-attr-form-modal title='编辑' [isVisible]="editAttrModalOpen" [handleOk]="handleEditDictionary"
  [editData]='activeDictonaryItem' [handleCancel]="handleEditAttrCancel"></app-attr-form-modal>
