<!--页头部-->
<app-page-header title="机构列表" [menu]="[{title:'账号管理',active:false},{title:'组织机构管理',active:true}]"></app-page-header>

<!-- 搜索 + 添加 -->
<div class="or-header">

  <div class="organization-search">
    <input nz-input placeholder="请输入机构名称" [(ngModel)]="value" class="search-ipt" />
    <button nz-button nzType="primary" class="or-search-btn">查询</button>
    <button nz-button nzType="default">重置</button>
  </div>

  <div class="add-button">
    <a> <button nz-button nzType="primary" [routerLink]="['/admin/organization/infoUpdate/', 'add']">手动添加</button></a>
  </div>

</div>

<!-- 表格 -->
<div style="padding: 0 24px;">
  <nz-table #expandTable [nzData]="list" nzTableLayout="fixed">
    <thead>
      <tr>
        <th>机构名称</th>
        <th>机构类型</th>
        <th>地址</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of expandTable.data">
        <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
          <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
            <td [nzIndentSize]="item.level! * 20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand"
              (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)">
              {{ item.name }}
            </td>
            <td>{{ item.type | organizaType}}</td>
            <td>{{ item.address }}</td>
            <td>
              <a (click)="handleEditOrganiza(item)">单位信息</a> &nbsp;&nbsp;
              <a (click)="showConfirm(item)">删除</a>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </nz-table>
</div>