.or-header {
  display: flex;
  padding: 15px 24px;
  justify-content: space-between;

  .organization-search {
    display: flex;
    .search-ipt {
      width: 250px;
    }
  }

  .add-button {}

  .or-search-btn {
    margin: 0 10px;
  }

}
