/* You can add global styles to this file, and also import other style files */
.triangle-table-container .ant-table-row-expand-icon {
  border: none;
}

.triangle-table-container .ant-table-row-expand-icon-collapsed {
  background: transparent url('/assets/icon/caret-right.svg') no-repeat center;
  background-size: 14px 14px;
}

.triangle-table-container .ant-table-row-expand-icon-expanded {
  background: transparent url('/assets/icon/caret-down.svg') no-repeat center;
}

.triangle-table-container .ant-table-row-expand-icon::before {
  display: none;
}

.triangle-table-container .ant-table-row-expand-icon::after {
  display: none;
}

.tree-wrapper .ant-tree-node-content-wrapper {

  white-space: normal;

  word-break: break-all;
}

.header-trigger .trigger {
  color: #fff;
}
