.add-roles-container {
  margin: 24px;
  padding: 24px 0;


  .add-roles-form-label {
    text-align: left;
  }

  .add-roles-button-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 24px;
    .add-roles-button-reset {
      margin-left: 20px;
    }
  }
}
