<nz-modal [(nzVisible)]="isVisible" [nzTitle]="title" (nzOnCancel)="handleCancel()" (nzOnOk)="submitForm(validateForm.value)">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzRequired>字典名称</nz-form-label>
      <nz-form-control [nzSpan]="18" nzErrorTip="请输入字典名称!">
        <input nz-input formControlName="name" placeholder="请输入字典名称" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="24" nzRequired>描述</nz-form-label>
      <nz-form-control [nzSpan]="18" nzErrorTip="请输入描述文字!">
        <textarea formControlName="description" nz-input rows="4" placeholder="请输入描述文字"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
